*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
a {
    color: #6AA3D3;
    text-decoration: none
}
body {
    background-color:#E5DABE;
    color: #6AA3D3;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    outline: none;
    border: rgb(173, 172, 172) 1px solid;
    box-shadow: 0 1px 4px rgb(139, 139, 139);
}
button{
    border: none;
    cursor: pointer;
}
li{
    list-style: none;
}

.calendar{
    width: 60rem;
    height: 50rem;
    display: block;
    padding: 20px;

  }
.calendar .title{
    position: relative;
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
    height: 7rem;

   
    
    
}
.calendar .title h1{
    font-size: 3rem;
    cursor: pointer;
    width: 20rem;
    color: #C6A2BF;
    
   
}
.calendar .title h2{
    font-size: 2rem;
    cursor: pointer;
    width: 10rem;
    display: fixed;

}


#prev,
#next{
    position: absolute;
    font-size: 2rem;
    line-height: 7rem;
    width: 50px;
}
#prev{
    top: 0;
    left: 30px;
    
}
#next{
    top: 0;
    right: 30px;
}
#prev:hover,
#next:hover{
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: #98c77834;
    border-radius: 30px;
}

.body{
    padding: 20px;
    font-size: 1.5rem;
  
}
.week_day{
    font-weight: 600;
    height: 5rem;
}
.week_day, 
.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.body .week_day div{
    display: grid;
    place-items: center;
    color: #9CBFD5;
}

.days div{

  
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    height: 100px;
    font-size: 2rem;
}

.toggle{
    display: flex;
    position: relative;
    margin-left: 20px;
    font-weight: 600;
}

.dark-mode-switch{
    position: absolute;
    top: 2px;
    left: 100px;
    background-color: #6aa4d360;
    width: 50px;
    height: 20px;
    border-radius: 14px;
    cursor: pointer;
}
.dark-mode-switch-circle{
    position: absolute;
    top: .8px;
    border-radius: 50%;
    width: 20px;
    height: 18px;
    background-color: #97c778;
    margin-left: 2px;
    /* transition: left .2s ease-in-out; */
}
.dark_mode_switch_circle_move{
    position: absolute;
    right: 2px;
    top: .5px;
    
}

/* hover days animation effect */
.body .days div{
    position: relative;
}
.body .days div span{
    position: absolute;
}
.body .days div:hover span{
    transition: width .1s ease-in-out, height 0.1s ease-in-out;
}

/* -----left and right line-------- */
.body .days div span:nth-child(1),
.body .days div span:nth-child(3){
    width: 2px;
    height: 0;
    background-color: #C6A2BF;

}
.body .days div:hover span:nth-child(1),
.body .days div:hover span:nth-child(3){
    height: 100%;

}
/* 1st line move from bottom */
.body .days div span:nth-child(1){
    bottom: 0;
    left: 0;
}
/* 3rd line move from top */
.body .days div span:nth-child(3){
    top: 0;
    right: 0;
}

/*------- top and bottom line--------- */
.body .days div span:nth-child(2),
.body .days div span:nth-child(4){
    /* because its goes horizontally */
    width: 0;
    height: 2px;
    background-color: #C6A2BF;
}
.body .days div:hover span:nth-child(2),
.body .days div:hover span:nth-child(4){
    width: 100%;

}
/* 2nd line move from left to right at top */
.body .days div span:nth-child(2){
    top: 0;
    left: 0;
    
}
/* 4th line move right to left at bottom */
.body .days div span:nth-child(4){
    bottom: 0;
    right:0;
   
}
.body .days div:hover span:nth-child(2){
    transition-delay: .1s;
}
.body .days div:hover span:nth-child(3){
    transition-delay: .2s;
}
.body .days div:hover span:nth-child(4){
    transition-delay: .3s;
}
/* background */
.dark{
    background-color: rgb(49, 48, 48);
    color: #fff;
}
.light{
    background-color: #fff;
}

/* modal */

.modal_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal{
    display: none;
    /* position: relative; */
    position: relative;
    width: 20rem;
    height: 10rem;
    background-color: #98c778;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgb(139, 139, 139);
    z-index: 2;

}
.modal .modalTitle{
    color: #5684aa;
    font-weight: 800;
    font-size: 1.5rem;
    padding-top: 10px;
    
   
}
.modal .todoInput{
    width: 17rem;
    height: 2rem;
    margin-top: 20px;
    font-size: 1rem;
}

#add,
#cancel{
    width: 4rem;
    height: 1.3rem;
    font-size: .7rem;
    border-radius: 7px;
    color: #fff;
}
#add{
    position: absolute;
    bottom: 22px;
    left: 24px;
    background-color: #cc7ca0;

}
#cancel{
    position: absolute;
    bottom: 22px;
    left: 90px;
    background-color: rgb(228, 86, 86);
}



/* month_picker -----------------------------------------*/
.month_list{
    display: grid;
    grid-template-columns: 160px 170px 190px;
    position: absolute;
    top: 70px;
    /* width: 550px;
    height: 300px; */
    width: 34.375rem;
    height: 18.75rem;
    background-color: #aacf91;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 4px rgb(139, 139, 139);
    z-index: 100;
    cursor: pointer;
    font-size: 2rem;
    color: rgb(139, 137, 137);
    padding: 15px; 
    font-weight: 400;
}
.month_list>div{
   /* make the inner text to middle of each div box */
  display: grid;
  place-items: center;
}
.month_list > div:hover{
   background-color: #C6A2BF;
   border-radius: 20px;
   color: white;
   
}
